<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="inovatec.br.com.gerenciadordegastos" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/financas"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AdicionarGasto"
            android:label="@string/title_activity_adicionar_gasto"
            android:noHistory="true" >
        </activity>
        <activity
            android:name=".VerGastos"
            android:label="@string/title_activity_ver_gastos"
            android:noHistory="true">
        </activity>
    </application>

</manifest>
